<div class="card-detail-container">
    <div class="card-image">
        <img [src]="card.image_uris.normal" alt="{{ card.name }}">
    </div>
    <div class="card-text">
        <h1>{{ card.name }}</h1>
        <p>{{ card.type_line }}</p>
        <p>{{ card.oracle_text }}</p>
        <p>{{ card.power }}/{{ card.toughness }}</p>
        <p>Ilustrado por {{ card.artist }}</p>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Legalidades
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <th>Formato</th>
                        <th>Legalidad</th>
                    </tr>
                    <tr *ngFor="let legality of legalities | keyvalue">
                        <td>{{ legality.key }}</td>
                        <td [ngClass]="{'legal': legality.value === 'legal', 'not-legal': legality.value !== 'legal'}">{{ replaceUnderscore(legality.value) }}</td>
                    </tr> 
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
