.search-field {
  max-width: 600px;
  width: 100em;
  margin: 0 16px;
  margin-top: 20px;
  border-radius: 25px;

  .mat-form-field-wrapper {
    padding: 0 10px;
  }

  .mat-form-field-flex {
    padding: 0.5em 0;
  }

  .mat-form-field-label-wrapper {
    padding-left: 10px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 25px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-radius: 25px;
  }

  input {
    padding-right: 10px;
  }

  button {
    margin-right: -10px;
  }
}
